.build-progress {
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);

  .progress-header {
    display: flex;
    margin-bottom: 15px;

    .build-label {
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
    }

    .progress {
      flex: 1;
      top: 2px;
      margin-left: 10px;
    }
  }

  .progress {
    background: rgba(0, 0, 0, 0.12);
    margin: 0 0 10px 0;
    position: relative;
    height: 8px;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;

    .bar {
      height: inherit;
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      background: #5dc133;
      transition: width 1.4s ease-out;
      transition-delay: .2s;
    }
  }

  .item {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    padding: 8px 0;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    font-family: "Roboto Mono", monospace, sans-serif;

    .name {
      margin-right: 15px;
    }

    .status {
      margin-right: 10px;
    }

    img {
      display: inline-block;
      opacity: 0;
    }

    &:last-child {
      border: none;
    }
  }
}


@media only screen and (max-width: 750px) {
  .build-progress {
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}


@keyframes itemProgress {
  100% {
    color: rgba(0, 0, 0, 0.65);
  }
}

@keyframes buildIconAppear {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  60% {
    transform: scaleX(1.1);
  }

  80% {
    transform: scaleX(0.9);
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.build-progress-section.visible {

  .progress .bar {
    width: 100%;
  }

  .item {
    animation: itemProgress .2s ease-out;
    animation-fill-mode:forwards;

    img {
      animation: buildIconAppear 0.3s ease-out;
      animation-fill-mode: forwards;
    }
  }

  @for $i from 2 through 6 {
    .item:nth-child(#{$i}) {
      animation-delay: #{$i * .2}s;

      img {
        animation-delay: #{$i * .2}s;
      }
    }
  }
}

