:root {
  --virtual-progress: 0;
  --bar-width: 0%;
}

.spinner-wrapper {
  perspective: 500px;
  height: 200px;
}

@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(90deg);
  }
  to {
    transform: rotateY(359deg) rotateX(90deg);
  }
}

$cubeSize: 150px;

.spinner {
  height: $cubeSize;
  width: $cubeSize;
  animation: spin 5s linear infinite;
  position: relative;
  top:100px;
  transform-style: preserve-3d;
  transition: transform .2s ease-out;
  margin: 0 auto;
  transform-origin: 50% 50% 50%;

  .face {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;

    .panel {
      border-radius: 5px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      background: rgba(0,80,255,.12);
      transform: scale(var(--virtual-progress));
      transition: transform .2s ease-out;
    }
  }

  .top {
    transform: translateZ($cubeSize);
  }

  .back {
    transform-origin: top;
    transform: rotateX(90deg);
  }

  .front {
    transform-origin: bottom;
    transform: rotateX(-90deg);
  }

  .left {
    transform-origin: left;
    transform: rotateY(-90deg);
  }

  .right {
    transform-origin: right;
    transform: rotateY(90deg);
  }

  .mini-terminal {
    background: black;
    position: absolute;
    box-sizing: border-box;
    left: 20%;
    top: 25%;
    width: 60%;
    height: 50%;
    border-radius: 5px;
    background: linear-gradient(321deg, rgba(0,63,132,1) 0%, rgba(4,0,0,1) 33%, rgba(0,63,132,1) 100%);
    animation: innerSpin 5s linear infinite;

    .dots {
      position: absolute;
      top: -5px;
      width: 100%;
      height: 20px;
      padding-left: 0;
      letter-spacing: 2px;
      padding: 0 0 0 5px;
      opacity: .4;
      border-bottom: solid 1px white;
      color: white;
    }

    .content {
      font-family: "Roboto Mono", sans-serif;
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      padding: 10px;
      font-size: 16px;
    }
  }
}

.cursor {
  animation: blink 1s ease-in-out infinite;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}


@keyframes innerSpin {
  0% {
    transform: translateZ($cubeSize / 2 - 10) rotateX(-90deg) rotateY(0);
  }
  50% {
    transform: translateZ($cubeSize / 2 + 10) rotateX(-90deg) rotateY(-180deg);
  }
  100% {
    transform: translateZ($cubeSize / 2 - 10) rotateX(-90deg) rotateY(-359deg);
  }
}

html {
  font-family: "Open Sans";
}

h1, h2, h3, h4 {
  font-family: "Roboto";
}

h1 {
  font-size: 2.4rem;
  margin: 0 0 .3rem 0;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Roboto";
  margin: 0 0 .6rem 0;
}

p {
  line-height: 140%;
  font-size: 1rem;
  color: rgba(0,0,0,.65);
}

a {
  color: #3279d8;
}

hr {
  margin: 3rem 0;
  border: none;
  border-bottom: solid 1px #DDD;
}

.section + hr {
  margin: 5rem 0;
}

.page {
  width: clamp(600px, 75%, 1000px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 0 3rem;
}

h1 + .section {
  margin-top: 2.5rem;
}

.header {
  border-bottom: solid 1px #DDD;
  margin: 2rem 0 4rem 0;
  padding: 0 0 1rem 0;
}

.section.hero {
  margin-bottom: 1rem;
  margin-top: 0;

  img {
    width: 90%;
    margin: 0 auto;
  }

  h1 {
    margin: 0 0 .6rem 0;
  }

  h2 {
    margin: 0 0 1.2rem 0;
    line-height: 130%;
  }

  p {
    font-size: 1.15rem;
    color: rgba(0,0,0,.5);
  }
}

.section {
  display: flex;
  z-index: 1;
  position: relative;

  h3 {
    margin: 0 0 1rem 0;
    line-height: 2.2rem;
  }

  p {
    margin: 0 0 1.5rem 0;
    line-height: 150%;
    font-size: 1.1rem;

    &:last-child {
      margin: 0;
    }
  }
  
  a {
    line-height: 150%;
    font-weight: 600;
    color: #0453bd;
    font-size: 1.1rem;
  }
}

.col {
  z-index: 1;
  flex: 1;
  position: relative;

  
    display: flex;
    flex-direction: column;
    justify-content: center;
  

  &:empty {
      
    &:after {
      // content: "image placeholder";
      // background: pink;
      padding: 80px;
      margin: 0 auto;
      display: block;

    }
  }

  &:first-child {
    margin-right: 30px;
  }

  &:last-child {
    margin-left: 30px;
  }
}

.build-progress {
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0,0,0,.12);

  .progress-header {
    display: flex;
    margin-bottom: 15px;

    .build-label {
      white-space: nowrap;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 600;
    }

    .progress {
      flex: 1;
      top: 2px;
      margin-left: 10px;
    }
  }

  .progress {
    background: rgba(0,0,0,.12);
    margin: 0 0 10px 0;
    position: relative;
    height: 8px;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;

    .bar {
      height: inherit;
      width: var(--bar-width);
      position: absolute;
      top: 0;
      left: 0;
      background: #5dc133;
      transition: width .2s linear;
    }
  }

  .item {
    border-bottom: solid 1px rgba(0,0,0,.12);
    padding: 8px 0px;
    font-size: .9rem;
    color: rgba(0,0,0,.4);
    display: flex;
    font-family: "Roboto Mono", monospace, sans-serif;

    .name {
      margin-right: 15px;
    }

    .status {
      margin-right: 10px;
    }

    img {
      
      display: inline-block;
      opacity: 0;
    }

    &.done {
      color: rgba(0,0,0,.65);

      img {
        display: inline-block;
        opacity: 1;
        animation: iconAppear .3s ease-out;
      }
    }

    &:last-child {
      border: none;
    }
  }
}


.bundle-wrapper {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}

.bundle {
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  opacity: .5;
  background: white;

  h4 {
    margin: 0 0 4px 0;
    font-size: 1.05rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.selected {
    opacity: 1;
    animation: bundlePop .25s ease-in-out;
    box-shadow: 0 2px 12px rgba(0,0,0,.1);
  }

  p {
    font-size: .9rem;
    margin: 0;
  }


  input[checked] {
    display: none;
  }


  &.selected input[checked]{
    display: block;
  }

  input {
    position: absolute;
    top: 13px;
    left: 11px;
    pointer-events: none;
  }
}


@keyframes bundlePop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.98);
  }
  100% {
    transform: scale(1);
  }
}


.cli-install {
  padding: 30px 25px 15px 25px;
  position: relative;
  top: 0;
  z-index: 99;
  background: white;
  width: calc(100%);
  margin: 0 -25px;

  h4 {
    margin: 0;
  }

  .cli-header {
    display: flex;

    .platform-picker {
      margin-left: auto;
      z-index: 2;
      padding-right: 1rem;

      span {
        color: rgba(0,0,0,.5);
        text-decoration: none;
        padding-bottom: .75rem;
        display: inline-block;
        margin: 0 .6rem;
        cursor: pointer;
        font-size: 1.1rem;

        &.selected {
          color: rgba(0,0,0,.8);
          border-bottom: solid 4px #3569C4;
          font-weight: 600;
        }
      }
    }
  }

  .cli-command {
    background: #daeaff;
    padding: 20px;
    display: block;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    color: #498fec;
    color: #3569C4;
    border-radius: 3px;
    padding-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;

    &:focus {
      border: none;
      outline: none;
      &::selection {
          background: #3569C4;
          color: #daeaff;
    }
    }
  }

  .cli-copy-icon {
    position: absolute;
    cursor: pointer;
    right: 34px;
    bottom: 21px;
    height: 50px;
    width: 50px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/clipboard-icon-blue.svg);

    &.success {
      animation: copySuccess 2s ease-in-out;
    }
  }

  @keyframes copySuccess {
      5% {
        opacity: 0;
        transform: scale(.7);
        background-image: url(../img/clipboard-icon-blue.svg);
      }
      10% {
        background-image: url(../img/checkmark-blue-circle.svg);
      }
      20% {
        opacity: 1;
        transform: scale(1.2);
      }
      30% {
        transform: scale(1);
      }
      80% {
        opacity: 1;
        background-image: url(../img/checkmark-blue-circle.svg);
      }
      85% {
        opacity: 0;
        background-image: url(../img/checkmark-blue-circle.svg);
      }
      86% {
        opacity: 0;
        background-image: url(../img/clipboard-icon-blue.svg);
      }
      100% {
          opacity: 1;
      }
  }
}

.terminal {
  background: #222;
  background: linear-gradient(-228deg, rgba(0,63,132,1) 0%, #000 20%, #000 50%, #0f3763 100%);
  border-top: solid 20px #DDD;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0,0,0,.12); 
  padding: 20px;

  .line {
    opacity: 0;
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    transition: max-width .5s linear;

    &.visible {
      opacity: 1;
      max-width: 100%;
    }
  }

  pre {
    font-family: "Roboto Mono", monospace;
    color: rgba(255,255,255,.8);
    line-height: 140%;
    font-size: .9rem;
  }

  .success {
    color: #29b929;
  }
}


.build-history {
  background: #EEE;
  padding: 15px 20px;
  padding-left: 40px;
  border-radius: 10px;

  .item-body {
    position: relative;
    border-radius: 6px;
    background: white;
    box-shadow: 0 2px 12px rgba(0,0,0,.1);
    padding: 8px 10px;
    font-family: "Roboto Mono", monospace, sans-serif;
    font-size: 1rem;
    color: rgba(0,0,0,.4);
    white-space: nowrap;

    &:before {
      content: "";
      position: absolute;
      height: 14px;
      width: 14px;
      left: -4px;
      top: calc(50% - 7px);
      background: black;
      transform: rotate(45deg);
      background: white;
    }
  }

  .visible {
    .item-body {
      animation: bundlePop .25s ease-in-out;
    }
  }

  .item {
    position: relative;
    opacity: 0;
    padding: 5px 0;

    &:last-child {
      margin: 0;
    }

    &.visible {
      opacity: 1;

      .name {
        opacity: 1;
      }
    }

    $arrowColor: #CCC;
    
    .arrow {
      position: absolute;
      left: -20px;
      height: 100%;
      border-left: solid 2px $arrowColor;
      top:0;

      &:before {
        content:"";
        position: absolute;
        width: 6px;
        height: 6px;
        background: $arrowColor;
        border-radius: 5px;
        left: -4px;
        top: calc(50% - 3px);
      }


    }

    &:last-child .arrow {
      height: 50%;

      &:after {
        height: 100%;
      }

      &:before {
        top: calc(100% - 2px);
      }
    }

    .name {
      display: inline-block;
      overflow: hidden;
      transition: max-width .3s ease-out;
      transition-delay: .3s;
      position: relative;
      top: -2px;
      width: auto;
      font-size: .85rem;
      color: rgba(0,0,0,.6);
    }

    .action {
      margin-left: auto;
      position: relative;
      top: 2px;
      opacity: .5;
      display: none;
    }

    .icon {
      height: 20px;
      display: inline-block;
      width: 20px;
      border-radius: 10px;
      margin-right: 0px;
      background: #35ce35;
      color: white;
      position: relative;
      top: 1px;
    }

    &.added {
      .name {
        // color: #72c653;
      }
      .action {
        color: #60bf3e;
      }
      .icon {
        background-image: url(../img/circle-plus.svg);
      }
    }

    &.changed {
      .name {
        // color: #3569C4;
      }
      .action {
        color: #498fec;
      }
      .icon {
        background: #3569C4;
        background-image: url(../img/circle-change.svg);
      }
    }


    &.removed {
      .name {
        // color: #db3444;
      }
      .action {
        color: #db3444;
      }
      .icon {
        background-image: url(../img/circle-minus.svg);
      }
    }

    &.visible {
      .icon {
        animation: iconAppear .3s ease-out;
      }
      .name {
        max-width: 300px;
      }
    }

    .status {
      margin-left: auto;
    }

    img {
      display: none;
      margin-left: auto;
    }

    &.done {
      color: rgba(0,0,0,.65);

      img {
        opacity: 1;
        animation: iconAppear .3s ease-out;
      }
    }

    &:last-child {
      border: none;
    }
  }
}


.finished .dependency-tree .level-one .package:after {
  display: block;
}

.dependency-tree {
  display: flex;
  flex-direction: row;

  .package {
    background: url(../img/package-wire.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.resolved {
      background-image: url(../img/package.svg);
      animation: packageFadeIn .5s ease-out;
    }

    @keyframes packageFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .level-one {
    display: flex;

    .package {
      height: 100px;
      width: 100px;
      margin: auto;
      display: block;
      position: relative;
      background-image: url(../img/package.svg);

      &:after {
        content: "";
        background: url(../img/package-checkmark.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
        position: absolute;
        right: -15px;
        top: 0px;
        opacity: 0;
        animation: checkPop .2s ease-out;
        animation-fill-mode: forwards;
        animation-delay: .3s;
        display: none;
      }
    }
  }

  @keyframes checkPop {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .level-two {
    display: flex;
    flex-direction: column;

    .package {
      height: 75px;
      width: 75px;
    }
  }

  .level-two-arrow {
    display: flex;
    flex-direction: column;
    img {
      margin: auto;
      height: 180px;
    }
  }
  .level-three {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      height: 75px;
      
    }

    .package {
      height: 50px;
      width: 50px;
      margin: auto 5px;
    }
  }

  .level-three-arrows {
    display: flex;
    flex-direction: column;

    img {
      height: 25px;
      margin: auto 5px;
    }
  }
}


.many-computers {
  position: relative;
  position: relative;

  img.computers {
    width: 100%;
    display: block;
  }

  .camels {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;

    img {
      width: 100%;
      display: none;
    }

    .camel {
      width: 28%;
      display: flex;

      &.middle {
        width: 40%;

        img {
          height: 42%;
          top: 19%;
        }
      }

      &.last {
        width: 31%;
      }

      img {
        height: 25%;
        position: relative;
        top: 28%;
      }

      &.activated img {
        display: block;
        animation: camelPop .25s ease-out;
      }
    }

  }

  @keyframes camelPop {
      0% {
        transform: scaleX(1.5) scaleY(.3);
      }
      60% {
        transform: scaleX(.9) scaleY(1.1);
      }

      100% {
        transform: scaleX(1) scaleY(1);
      }
    }

  
}

@keyframes iconAppear {
  0% {
    transform: scaleX(0);
  }
  60% {
    transform: scaleX(1.1);
  }
  80% {
    transform: scaleX(.9);
  }

  100% {
    transform: scaleX(1);
  }
}

footer {
  padding: 80px;
  background: #222;
  margin-top: 8rem;

  a, span {
    font-size: 1rem;
  }

  .content {
    width: clamp(600px, 75%, 1000px);
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255,255,255,.4);

    .divider {
      padding: 0 .5rem;
    }

    a {
      font-weight: 600;
      color: rgba(255,255,255,.8);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


@media only screen and (max-width: 750px) { 

  .header {
    margin: 2rem 0 2rem 0;
  }
  
  .section + hr {
    margin: 3rem 0; 
  }

  .build-progress {
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .page {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5rem;
  }

  footer {
    margin-top: 6rem;
    line-height: 150%;

    .content {
      width: auto;
    }
  }


  .section {
    flex-direction: column;

    .col {
      order: 2;
      flex: 1 0 auto !important;
      margin: 0;

      p:last-child {
        margin: 0;
      }
    }

    .image-col {
      margin: 0 0 3rem 0;
      order: 1;
    }
  }

  .cli-install {
    margin: 0;
    width: auto;
    padding: 0;

    .cli-copy-icon {
      bottom: 5px;
      right: 5px;
    }

    .cli-header {
      display: block;

      h4 {
        margin: 2rem 0 1.5rem 0;
      }

      .platform-picker {
        display: block;

        span {
          padding-left: 1rem;
          margin: 0;
          padding-right: 1rem;
        }
      }
    }


  }

  .many-computers {
    justify-content: center;

    .computer {
      height: auto;
      flex: 1;

      img {
        height: auto;
      }

      .camel {
        top: 30%;
      }

      &.two {
        .camel {
          top: 23%;
        }
      }
    }
  }

  .dependency-tree {
    margin: 0 1.5rem 0 0rem;

    .level-one {
      width: 25%;

      .package {
        width: 100%;

        &:after {
          content: "";
          width: 50px;
          height: 50px;
          position: absolute;
          right: calc(50% - 65px);
        }
      }
    }

    .level-two-arrow {
      width: 15%;

      img {
        max-width: 100%;
      }
    }

    .level-two {
      width: 15%;

      .package {
        width: 100%;
      }
    }

    .level-three-arrows {
      width: 10%;
    }

    .level-three {
      width: 35%;
      .package {
        width: 33%;
        margin: auto 0;
      }
    }
  }

}