:root {
  --angle: "30deg";
  --reverse-angle: "30deg";
  --virtual-progress: 0;
}



.spinner-wrapper {
  perspective: 500px;
  height: 200px;
}

@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(90deg);
  }
  to {
    transform: rotateY(359deg) rotateX(90deg);
  }
}

$cubeSize: 150px;

.spinner {
  transform: rotateY(var(--angle)) rotateX(90deg);
  height: $cubeSize;
  width: $cubeSize;
  // animation: spin 5s linear infinite;
  position: relative;
  top:100px;
  transform-style: preserve-3d;
  transition: transform .2s ease-out;
  margin: 0 auto;
  transform-origin: 50% 50% 50%;

  .face {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;

    .panel {
      border-radius: 5px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      background: rgba(0,80,255,.12);
      transform: scale(var(--virtual-progress));
      transition: transform .2s ease-out;
    }
  }

  .top {
    transform: translateZ($cubeSize);
  }

  .back {
    transform-origin: top;
    transform: rotateX(90deg);
  }

  .front {
    transform-origin: bottom;
    transform: rotateX(-90deg);
  }

  .left {
    transform-origin: left;
    transform: rotateY(-90deg);
  }

  .right {
    transform-origin: right;
    transform: rotateY(90deg);
  }

  .mini-terminal {
    background: black;
    transform: translateZ($cubeSize / 2) rotateX(-90deg) rotateY(var(--reverse-angle)) ;
    position: absolute;
    box-sizing: border-box;
    // animation: innerSpin 5s linear infinite;

    left: 20%;
    top: 25%;
    width: 60%;
    height: 50%;
    border-radius: 5px;
    background: linear-gradient(321deg, rgba(0,63,132,1) 0%, rgba(4,0,0,1) 33%, rgba(0,63,132,1) 100%);

    .dots {
      position: absolute;
      top: -5px;
      padding-left: 0;
      letter-spacing: -3px;
      padding: 0 0 0 5px;
      opacity: .4;
      width: 100%;

      height: 20px;
      border-bottom: solid 1px white;
    }

    .cursor {
      animation: blink 1s ease-in-out infinite;

      @keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }

      }
    }

    div {
      font-family: "Roboto Mono", sans-serif;
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      padding: 10px;
      font-size: 16px;
    }
  }
}

@keyframes innerSpin {
  0% {
    transform: translateZ($cubeSize / 2 - 10) rotateX(-90deg) rotateY(0);
  }

  50% {
    transform: translateZ($cubeSize / 2 + 10) rotateX(-90deg) rotateY(-180deg);
  }

  100% {
    transform: translateZ($cubeSize / 2 - 10) rotateX(-90deg) rotateY(-359deg);
  }
}

html {
  font-family: "Open Sans";
  padding-bottom: 500px;
  
}

h1, h2, h3, h4 {
  font-family: "Roboto";
}

h1 {
  font-size: 2.4rem;
  margin: 0 0 .3rem 0;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Roboto";
  margin: 0 0 .6rem 0;
}

p {
  line-height: 140%;
  font-size: 1rem;
  color: rgba(0,0,0,.65);
}

a {
  color: #3279d8;
}

hr {
  margin: 3rem 0;
  border: none;
  border-bottom: solid 1px #DDD;
}

.section + hr {
  margin: 5rem 0;
}

.page {
  width: clamp(600px, 75%, 1000px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

h1 + .section {
  margin-top: 60px;
}

.header {
  border-bottom: solid 1px #DDD;
  margin: 2rem 0 4rem 0;
  padding: 0 0 1rem 0;
}

.section.hero {
  margin-bottom: 1rem;
  margin-top: 0;

  img {
    width: 100%;
  }

  h1 {
    margin: 0 0 .5rem 0;
  }

  h2 {
    margin: 0 0 1.2rem 0;
  }

  p {
    font-size: 1.15rem;
    color: rgba(0,0,0,.5);
  }
}

.section {
  display: flex;
  z-index: 1;
  position: relative;

  h3 {
    margin: 0 0 1rem 0;
  }

  p {
    margin: 0 0 1.5rem 0;
    line-height: 150%;

    &:last-child {
      margin: 0;
    }
  }
}

.col {
  z-index: 1;
  flex: 1;
  position: relative;

  
    display: flex;
    flex-direction: column;
    justify-content: center;
  

  &:empty {
      
    &:after {
      // content: "image placeholder";
      // background: pink;
      padding: 80px;
      margin: 0 auto;
      display: block;

    }
  }

  &:first-child {
    margin-right: 30px;
  }

  &:last-child {
    margin-left: 30px;
  }
}

.build-progress {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0,0,0,.12);
}

.progress {
  background: rgba(0,0,0,.12);
  margin: 0 0 10px 0;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 8px;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;

  .bar {
    height: inherit;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    background: #5dc133;
    transition: width .2s linear;
  }
}

.item {
  border-bottom: solid 1px rgba(0,0,0,.12);
  padding: 8px 0px;
  font-size: .9rem;
  color: rgba(0,0,0,.4);
  display: flex;

  .name {
    // display: inline-block;
    width: 150px;
  }

  .status {
    margin-left: auto;
  }

  img {
    display: none;
    margin-left: auto;
  }

  &.done {
    color: rgba(0,0,0,.65);
    img {
      display: inline-block;
    }
  }

  &:last-child {
    border: none;
  }
}



.bundle-wrapper {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}

.bundle {
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  opacity: .5;
  background: white;

  &:last-child {
    margin-bottom: 0;
  }

  &.selected {
    opacity: 1;
    animation: bundlePop .25s ease-in-out;
    box-shadow: 0 2px 12px rgba(0,0,0,.1);
  }

}


@keyframes bundlePop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.98);
  }
  100% {
    transform: scale(1);
  }
}

.bundle input[checked] {
  display: none;
}


.bundle.selected input[checked]{
  display: block;
}

.bundle h4 {
  margin: 0;
}

.bundle p {
  margin: 0;
}

.bundle input {
  position: absolute;
  top: 12px;
  left: 10px;
}

.cli-install {
  padding: 30px 25px 15px 25px;
  // position: sticky;
  top: 0;
  z-index: 99;
  background: white;
  width: calc(100%);
  margin: 0 -25px;

  h4 {
    margin: 0;
  }

  .cli-header {
    display: flex;

    .platform-picker {
      margin-left: auto;
      z-index: 2;
      padding-right: 1rem;

      a {
        color: rgba(0,0,0,.5);
        text-decoration: none;
        padding-bottom: .75rem;
        display: inline-block;
        margin: 0 .6rem;

        &.selected {
          color: rgba(0,0,0,.8);
          border-bottom: solid 4px #3569C4;
          font-weight: 600;
        }
      }
    }
  }
}


.cli-command {
  background: #daeaff;
  padding: 20px;
  display: block;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  color: #498fec;
  border-radius: 3px;
  z-index: 1;
}


.terminal {
  background: #222;
  border-top: solid 20px #DDD;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0,0,0,.12); 
  padding: 20px;

  pre {
    font-family: "Roboto Mono", monospace;
    color: rgba(255,255,255,.7);
    line-height: 140%;
  }

  .success {
    color: #29b929;
  }
}


.build-history {

  .item {
    border-bottom: solid 1px rgba(0,0,0,.12);
    padding: 8px 0px;
    font-family: "Roboto Mono", monospace, sans-serif;
    font-size: 1rem;
    color: rgba(0,0,0,.4);
    white-space: nowrap;
    opacity: 0;
    
    overflow: hidden;

    &.visible {
      opacity: 1;

      .name {
        opacity: 1;
      }
    }

    .name {
      display: inline-block;
      overflow: hidden;
      transition: max-width .3s ease-out;
      transition-delay: .3s;
      position: relative;
      top: 2px;
      width: auto;
      opacity:0;
      transition: opacity .2s ease-out;
    }

    .action {
      margin-left: auto;
      position: relative;
      top: 2px;
      opacity: .5;
    }

    .icon {
      height: 20px;
      display: inline-block;
      width: 20px;
      border-radius: 10px;
      margin-right: 10px;
      background: #35ce35;
      color: white;
    }

    &.added {
      .name {
        color: #72c653;
      }
      .action {
        color: #60bf3e;
      }
      .icon {
        background-image: url(../img/circle-plus.svg);
      }
    }

    &.changed {
      .name {
        color: #3569C4;
      }
      .action {
        color: #498fec;
      }
      .icon {
        background: #3569C4;
      }
    }


    &.removed {
      .name {
        color: #db3444;
      }
      .action {
        color: #db3444;
      }
      .icon {
        background-image: url(../img/circle-minus.svg);
      }
    }

    &.visible {
      .icon {
        animation: iconAppear .3s ease-out;
      }
      .name {
        max-width: 300px;
      }

      @keyframes iconAppear {
        0% {
          transform: scaleX(0);
        }
        60% {
          transform: scaleX(1.1);
        }
        80% {
          transform: scaleX(.9);
        }

        100% {
          transform: scaleX(1);
        }
      }
    }



    .status {
      margin-left: auto;
    }

    img {
      display: none;
      margin-left: auto;
    }

    &.done {
      color: rgba(0,0,0,.65);
      img {
        display: inline-block;
      }
    }

    &:last-child {
      border: none;
    }
  }
}


.dependency-tree {
  display: flex;
  flex-direction: row;

  .package {
    background: url(../img/package-wire.svg);
    background-size: contain;
    background-repeat: no-repeat;

    &.resolved {
      background: url(../img/package.svg);
    }
  }

  .level-one {
    display: flex;

    .package {
      height: 100px;
      width: 100px;
      margin: auto;
      display: block;
    }
  }
  .level-two {
    display: flex;
    flex-direction: column;

    .package {
      height: 75px;
      width: 75px;
    }
  }

  .level-two-arrow {
    display: flex;
    flex-direction: column;
    img {
      margin: auto;
      height: 180px;
    }
  }
  .level-three {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      height: 75px;
      
    }

    .package {
      height: 50px;
      width: 50px;
      margin: auto 5px;
    }
  }

  .level-three-arrows {
    display: flex;
    flex-direction: column;

    img {
      height: 25px;
      margin: auto 5px;
    }
  }
}